<!-- Content Header (Page header) -->
<section class="content-header">
    @RenderSection("header", false)
</section>

<!-- Main content -->
<section class="content">
    @RenderBody()
</section>

<!--Actualiza el archivo para las nuevas validaciones de los formulacios-->
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@RenderSection("Scripts", false)
